[submodule "badminton-stats-tracker-backend"]
	path = badminton-stats-tracker-backend
	url = git@github.com:pearl174/badminton-stats-tracker-backend.git
[submodule "badminton-stats-tracker-frontend"]
	path = badminton-stats-tracker-frontend
	url = git@github.com:pearl174/badminton-stats-tracker-frontend.git
